.hashtag-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 25%;
  }
  
  th,
  td {
    font-family: sage-medium;
    font-size: 1rem;
    color: white;
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }

  td {
    background-color: rgb(211, 211, 211);
    color: black;
  }

  th {
    text-align: center;
    background-color: black;
  }
  
  tbody tr:nth-child(even) {
    background-color: black;
  }