.search-bar {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.search {
    width: 100%;
}
.search-button {
    height: 3.25rem;
    background-color: #00828C;
    margin: 0;
    padding: 1rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-family: sherpa-semibold;
}
.discover-button {
    height: 3.25rem;
    background-color: #00828C;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: sherpa-semibold;
}
button:hover {
    background-color: #00a9b5;
}
.grid-container {
    display: grid;
    column-gap: 0 !important;
    grid-template-columns: 2fr 1fr 0.2fr 1fr;
}
.search-input{
    width: 100%;
    font-size: 16px;
    background-color: rgb(228, 228, 228);
    font-family: sherpa-semibold;
}