.title {
    font-family: sage-medium;
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 1rem;
}

.grid-container {
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    /* gap: 50px; */
    row-gap: 20px;
    column-gap: 50px;
}

/* .iframe {
    width: 160px;
    height: 325px;
} */

.tiktok {
    height: 300px;
    width: 250px;
}

.video {
    height: 327px;
    width: 225px;
}