.title {
    font-family: sage-medium;
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

.display-container {
    padding: 1rem;
    display: grid;
    row-gap: 20px;
    grid-auto-columns: 2;
    grid-template-columns: auto auto;
}

.tiktok {
    height: 300px;
    width: 250px;
}

.video-container {
    border: 1.5px solid black;
}