.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: sherpa-light;
  src: url(fonts/GDSherpa-Light.otf);
}

@font-face {
  font-family: sherpa-medium;
  src: url(fonts/GDSherpa-Medium.otf);
}

@font-face {
  font-family: sherpa-regular;
  src: url(fonts/GDSherpa-Regular.otf);
}

@font-face {
  font-family: sherpa-semibold;
  src: url(fonts/GDSherpa-Semibold.otf);
}

@font-face {
  font-family: sherpa-bold;
  src: url(fonts/GDSherpa-Bold.otf);
}

@font-face {
  font-family: sage-medium;
  src: url(fonts/GDSage-Medium.otf)
}

@font-face {
  font-family: sage-bold;
  src: url(fonts/GDSage-Bold.otf);
}

.content-container {
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: 71.5% 5% 23.5%;
  /* grid-template-columns: 2.2fr 0.2fr 0.68fr; */
}