.searchBar {
    padding-left: 35px;
    border: 0px solid transparent;
}
.searchButton{
    width: 250px;
    padding: 8px;
    position: absolute;
    top: 90px;
    right: 595px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    color: black;
    background-color: rgb(207, 252, 252);
}
.discoverButton{
    width: 500px;
    padding: 8px;
    position: absolute;
    top: 90px;    
    right: 80px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    color: black;
    background-color: rgb(207, 252, 252);
}
.topSearchList{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topSearchItem{
    margin-right: 20px;
    font-size: 30px;
}
.search-bar{
    height: 20px;
    width: 620px;
    top: 50px;
}